* {
  margin: 0;
  padding: 0;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 50px;
}
.copyright {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
}
.socials span {
  font-size: 14px;
  font-weight: 500;
  padding: 12px 15px;
  border: 2px solid #150e28;
  border-radius: 12px;
  margin-right: 20px;
  cursor: pointer;
}
.socials a {
  color: #150e28;
  text-decoration: none;
}
.socials span:hover {
  background-color: orangered;
  color: white;
  transition: 1.2ms ease-in-out;
  border: none;
}
